.amenity_table{
    width: 100%;
    padding: 0.2em;
    font-size: 1.3em;
    font-size-adjust: initial;
    border: 0.1em solid #e0dfdf;
}
tr:nth-child(even) {background-color: #f2f2f2;
color: #7b7b7c;}
tr:active{
    font-size: 1.3em;
}
tr{
    height: 2rem;
}

/* .ui-page .ui-header{
    background: lightblue;
} */
/* #label-1, #label-2, #label-3, #text-4{
    display: none;
} */
/* #slider-1, #select-custom-2{
    display: none;
}
.refresh{
    display: none;
} */
/* #dynamic-slider-form{
     display: none; 
} */
/* .show{
    display: initial;
} */
