.amenity_table{
    width: 100%;
    padding: 0.2em;
    font-size: 1.3em;
    font-size-adjust: initial;
    border: 0.1em solid #e0dfdf;
    margin-top: 2em;
}
tr:nth-child(even) {background-color: #f2f2f2;
color: #7b7b7c;}
tr:active{
    font-size: 1.3em;
}
tr{
    height: 2rem;
}
#map{
    margin: 2.5em;
    border: 0.3em solid lightgrey;
}
